# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual envs
.venv/
venv/

# Environment variables
.env
.env.*

# Build artifacts
build/
dist/
*.egg-info/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Test outputs
.pytest_cache/
.coverage
coverage.xml
htmlcov/

